process {
    withName: '.*CALL_GERMLINE_SNVS:GATK4_HAPLOTYPECALLER' {
        ext.prefix = { "${meta.sample_name}_haplotypecaller" }
    }

    withName: '.*CALL_GERMLINE_SNVS:ENSEMBLVEP_VEP' {
        ext.args = { "--vcf --pick --filter_common --check_existing --total_length --allele_number --no_escape --no_stats --everything --offline" }
        ext.args2 = { "-p vcf" }
        ext.prefix = { "${meta.sample_name}-all.germline.vep" }
    }
}
