/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    //
    // QC Modules
    //

    withName: 'FASTQC' {
        ext.args = '--quiet'
    }

    withName: 'PICARD_COLLECT(MULTIPLE|HS)METRICS' {
        ext.prefix = { "${meta.sample_name}" }
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        ext.prefix = { "${meta.sample_name}" }
    }

    withName: 'MULTIQC' {
        ext.args = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
    }

    //
    // ALIGNMENT Modules
    //

    withName: '.*:ALIGNMENT:BWAMEM2_MEM' {
        ext.args = { "-Y -K 100000000 -R ${meta.read_group}" }
    }

    withName: '.*:ALIGNMENT:MARKDUPLICATES' {
        ext.args = '--REMOVE_DUPLICATES true --CREATE_INDEX true --VALIDATION_STRINGENCY SILENT'
        ext.prefix = { "${meta.id}_dedup.bam" }
    }

    //
    // UMI PROCESSING Modules
    //

    withName: 'FASTQTOBAM' {
        ext.args = { "--read-structures ${params.umi_structure}" }
        ext.prefix = { "${meta.id}_unaligned" }
    }

    withName: '.*:UMI_PROCESSING:BWAMEM2_MEM_(PRE|POST)' {
        ext.args = { "-K 150000000 -Y" }
    }

    withName: '.*:UMI_PROCESSING:ZIPPERBAMS_(PRE|POST)' {
        ext.args = { "--tags-to-reverse Consensus --tags-to-revcomp Consensus" }
    }

    withName: '.*:UMI_PROCESSING:FILTERCONSENSUS' {
        ext.args = { "--max-read-error-rate 1 --reverse-per-base-tags true --require-single-strand-agreement true" }
    }

    withName: '.*:UMI_PROCESSING:SORTBAM' {
        ext.prefix = { "${meta.sample_name}_consensus_mapped" }
    }

    //
    // SOMATIC Variant Calling Modules
    //

    withName: 'GATK4_MUTECT2' {
        // these germline variants including parameters are required for purecn in the downstream
        ext.args = { "--f1r2-tar-gz ${meta.id}.f1r2.tar.gz --genotype-germline-sites true --genotype-pon-sites true " }
    }

    withName: 'GATK4_GETPILEUPSUMMARIES_TUMOR' {
        ext.prefix = { "${meta.id}_${meta.tumor_id}" }
    }

    withName: 'GATK4_GETPILEUPSUMMARIES_NORMAL' {
        ext.prefix = { "${meta.id}_${meta.normal_id}" }
    }

    withName: '.*:CALL_GATK_MUTECT2:GATK4_CALCULATECONTAMINATION' {
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}" }
    }

    withName: 'GATK4_FILTERMUTECTCALLS' {
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}_mutect2_filtered" }
    }

    withName: '.*:CALL_SOMATIC_SNVS:VT_NORMALIZE' {
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}_mutect2_filtered_normalized" }
    }

    withName: '.*:CALL_SOMATIC_SNVS:INDEX_VCF' {
        ext.args = { "-p vcf" }
    }

    withName: '.*:CALL_SOMATIC_SNVS:PASSFILTER_FOR_MUTECT2' {
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}_mutect2_pass_only" }
    }

    withName: '.*:CALL_SOMATIC_SNVS:PASSFILTER_FOR_SAGE' {
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}_sage_pass_only" }
    }

    withName: 'SAGE_SOMATIC' {
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}_sage" }
    }

    withName: '.*:CALL_SOMATIC_SNVS:SOMATIC_VCFMERGE' {
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}" }
    }

    withName: '.*:CALL_SOMATIC_SNVS:ANNOTATE_VEP' {
        ext.args = { "--vcf --pick --check_existing --total_length --allele_number --no_escape --no_stats --everything --offline" }
        ext.args2 = { "-p vcf" }
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}-all.somatic.vep" }
    }

    //
    // CNV Calling Modules
    //

    withName: '.*:CALL_CNVS:ANNOTATE_CNVS_SOMATIC' {
        ext.args = { "--cancer-type ${params.cancer_type} --sample-type somatic" }
    }

    withName: '.*:CALL_CNVS:ANNOTATE_CNVS_GERMLINE' {
        ext.args = { "--cancer-type ${params.cancer_type} --sample-type germline" }
    }

    //
    // Germline variant calling Modules
    //

    withName: '.*:CALL_GERMLINE_SNVS:GATK4_HAPLOTYPECALLER' {
        ext.prefix = { "${meta.sample_name}_haplotypecaller" }
    }

    withName: '.*:CALL_GERMLINE_SNVS:ENSEMBLVEP_VEP' {
        ext.args = { "--vcf --pick --filter_common --check_existing --total_length --allele_number --no_escape --no_stats --everything --offline" }
        ext.args2 = { "-p vcf" }
        ext.prefix = { "${meta.sample_name}-all.germline.vep" }

    }

    //
    // PureCN
    //

    withName: 'PURECN_RUN' {
         ext.args = { [
            " --min-af ${params.minaf}",
            "--max-non-clonal ${params.maxnonclonal}",
            "--min-purity ${params.minpurity}",
            "--error ${params.purecn_error}",
            "--post-optimize"
            ].join(' ')
        }
        ext.prefix = { "${meta.tumor_id}_purecn" }
    }
}
