/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // publishDir = [
    //     path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //     mode: params.publish_dir_mode,
    //     saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    // ]

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${meta.case_id}/qc/fastqc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // ALIGNMENT Modules
    //

    withName: '.*:ALIGNMENT:BWAMEM2_MEM' {
        ext.args = { " -Y -K 100000000  -R ${meta.read_group} " }
    }

    withName: '.*:ALIGNMENT:MARKDUPLICATES' {
        ext.args = '--REMOVE_DUPLICATES true --CREATE_INDEX true --VALIDATION_STRINGENCY SILENT'
        ext.prefix = { "${meta.id}_dedup.bam" }
        publishDir = [
            path: { "${params.outdir}/${meta.case_id}/alignment/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // UMI PROCESSING Modules
    //

    withName: "FASTQTOBAM" {
        ext.args   = { " --read-structures ${params.umi_structure} "}
        ext.prefix = { "${meta.id}_unaligned" }
    }

    withName: '.*:UMI_PROCESSING:BWAMEM2_MEM_PRE|BWAMEM2_MEM_POST' {
        ext.args = { " -p -K 150000000 -Y " }
    }

    withName: '.*:UMI_PROCESSING:ZIPPERBAMS_PRE|ZIPPERBAMS_POST' {
        ext.args = { " --tags-to-reverse Consensus  --tags-to-revcomp Consensus " }
    }


    withName: '.*:UMI_PROCESSING:FILTERCONSENSUS' {
        ext.args = { "--max-read-error-rate 1 --reverse-per-base-tags true --require-single-strand-agreement true " }
    }

    withName: '.*:UMI_PROCESSING:SORTBAM' {
        ext.prefix = { "${meta.sample_name}_consensus_mapped" }
        publishDir = [
            path: { "${params.outdir}/${meta.case_id}/alignment/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${meta.case_id}/alignment/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // BamQC Modules
    //

    withName: PICARD_COLLECTMULTIPLEMETRICS {
        ext.prefix = { "${meta.sample_name}" }
        publishDir = [
            path: { "${params.outdir}/${meta.case_id}/qc/picard/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PICARD_COLLECTHSMETRICS {
        ext.prefix = { "${meta.sample_name}" }
        publishDir = [
            path: { "${params.outdir}/${meta.case_id}/qc/picard/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_FLAGSTAT {
        ext.prefix = { "${meta.sample_name}" }
        publishDir = [
            path: { "${params.outdir}/${meta.case_id}/qc/samtools/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // MultiQC Modules
    //

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // SOMATIC snvs/indels Modules
    //

    withName: "GATK4_GETPILEUPSUMMARIES_TUMOR" {
        ext.prefix = { "${meta.id}_${meta.tumor_id}" }
    }

    withName: "GATK4_GETPILEUPSUMMARIES_NORMAL" {
        ext.prefix = { "${meta.id}_${meta.normal_id}" }
    }

    withName: "GATK4_FILTERMUTECTCALLS" {
        ext.prefix = { "${meta.id}_mutect2_filtered" }
    }

    withName: "SAGE_SOMATIC" {
        ext.prefix = { "${meta.id}_${meta.tumor_id}" }
    }


}
