
params {
    panels {
        probio_comprehensive3 {
            targets_bed_slopped20           = "${params.ref_genomes_base}/${params.genome}/targets/probio_comprehensive3.slopped20.bed"
            targets_bed_slopped20_gz        = "${params.ref_genomes_base}/${params.genome}/targets/probio_comprehensive3.slopped20.bed.gz"
            targets_interval_list           = "${params.ref_genomes_base}/${params.genome}/targets/probio_comprehensive3.interval_list"
            targets_interval_list_slopped20 = "${params.ref_genomes_base}/${params.genome}/targets/probio_comprehensive3.slopped20.interval_list"
            jumble_ref                      = "${params.ref_genomes_base}/${params.genome}/targets/comprehensive3_baits_twist.bed.reference.RDS"
        }
    }
}
