

params {
    genomes {
        'GRCh37' {
            fasta                         = "${params.ref_genomes_base}/GRCh37/genome/human_g1k_v37_decoy.fasta"
            fai                           = "${params.ref_genomes_base}/GRCh37/genome/human_g1k_v37_decoy.fasta.fai"
            dict                          = "${params.ref_genomes_base}/GRCh37/genome/human_g1k_v37_decoy.dict"
            bwamem2_index                 = "${params.ref_genomes_base}/GRCh37/bwamem2_index"
            germline_resource             = "${params.ref_genomes_base}/GRCh37/annotations/af-only-gnomad.raw.sites.vcf.gz"
            germline_resource_tbi         = "${params.ref_genomes_base}/GRCh37/annotations/af-only-gnomad.raw.sites.vcf.gz.tbi"
            clinvar_annotations           = "${params.ref_genomes_base}/GRCh37/hmfdata/clinvar.37.vcf.gz"
            sage_blocklist_regions        = "${params.ref_genomes_base}/GRCh37/hmfdata/KnownBlacklist.germline.37.bed"
            sage_blocklist_sites          = "${params.ref_genomes_base}/GRCh37/hmfdata/KnownBlacklist.germline.37.vcf.gz"
            sage_actionable_panel         = "${params.ref_genomes_base}/GRCh37/hmfdata/ActionableCodingPanel.37.bed.gz"
            sage_coverage_panel           = "${params.ref_genomes_base}/GRCh37/hmfdata/CoverageCodingPanel.37.bed.gz"
            sage_highconf_regions         = "${params.ref_genomes_base}/GRCh37/hmfdata/NA12878_GIAB_highconf_IllFB-IllGATKHC-CG-Ion-Solid_ALLCHROM_v3.2.2_highconf.bed.gz"
            sage_known_hotspots_germline  = "${params.ref_genomes_base}/GRCh37/hmfdata/KnownHotspots.germline.37.vcf.gz"
            sage_known_hotspots_somatic   = "${params.ref_genomes_base}/GRCh37/hmfdata/KnownHotspots.somatic.37.vcf.gz"
            sage_pon                      = "${params.ref_genomes_base}/GRCh37/hmfdata/SageGermlinePon.1000x.37.tsv.gz"
            driver_gene_panel             = "${params.ref_genomes_base}/GRCh37/hmfdata/DriverGenePanel.37.tsv"
            ensembl_data_resources        = "${params.ref_genomes_base}/GRCh37/hmfdata/ensembl_data"
            curation_annotations          = "${params.ref_genomes_base}/GRCh37/annotations/cancer_gene_annotations_for_curation.37.v2.csv"
            ensembl_vep_cache             = "${params.ref_genomes_base}/GRCh37/vep"
            gridss_index                  = "${params.ref_genomes_base}/GRCh37/gridss_index"
            gridss_config                 = "${params.ref_genomes_base}/GRCh37/gridss/gridss.properties"
            gridss_blacklist              = "${params.ref_genomes_base}/GRCh37/gridss/sv_prep_blacklist.37.bed"
            gridss_pon_breakends          = "${params.ref_genomes_base}/GRCh37/gridss/sgl_pon.37.bed.gz"
            gridss_pon_breakpoints        = "${params.ref_genomes_base}/GRCh37/gridss/sv_pon.37.bedpe.gz"
            gridss_known_fusions          = "${params.ref_genomes_base}/GRCh37/gridss/known_fusions.37.bedpe"
            gridss_repeatmasker_annotations = "${params.ref_genomes_base}/GRCh37/gridss/repeat_mask_data.37.fa.gz"
        }
    }
}
