/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run genomic-medicine-sweden/autoseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = params.pipelines_testdata_base_path + 'testdata/csv/samplesheet.csv'

    // Genome
    genome            = 'GRCh37'
    igenomes_ignore   = true

    // NOTE: GitHub raw content URLs cannot stage directories in Nextflow (only individual files are
    // accessible via raw URLs). The directory-type params (bwamem2_index, ensembl_data_resources,
    // ensembl_vep_cache, genome_gridss_index) point to a placeholder file within each directory
    // so that nf-test --stub can resolve a valid URL without requiring actual directory staging.

    // Reference genome files
    genome_fasta                    = "${params.pipelines_testdata_base_path}reference/GRCh37/genome/human_g1k_v37_decoy.fasta"
    genome_fai                      = "${params.pipelines_testdata_base_path}reference/GRCh37/genome/human_g1k_v37_decoy.fasta.fai"
    genome_dict                     = "${params.pipelines_testdata_base_path}reference/GRCh37/genome/human_g1k_v37_decoy.dict"
    bwamem2_index                   = "${params.pipelines_testdata_base_path}reference/GRCh37/bwamem2_index/human_g1k_v37_decoy"
    dbsnp_vcf                       = "${params.pipelines_testdata_base_path}reference/GRCh37/annotations/dbsnp_138.b37.vcf.gz"
    dbsnp_vcf_tbi                   = "${params.pipelines_testdata_base_path}reference/GRCh37/annotations/dbsnp_138.b37.vcf.gz.tbi"
    germline_resource               = "${params.pipelines_testdata_base_path}reference/GRCh37/annotations/af-only-gnomad.raw.sites.vcf.gz"
    germline_resource_tbi           = "${params.pipelines_testdata_base_path}reference/GRCh37/annotations/af-only-gnomad.raw.sites.vcf.gz.tbi"
    sage_known_hotspots_somatic     = "${params.pipelines_testdata_base_path}reference/GRCh37/hmfdata/KnownHotspots.somatic.37.vcf.gz"
    sage_highconf_regions           = "${params.pipelines_testdata_base_path}reference/GRCh37/hmfdata/NA12878_GIAB_highconf_IllFB-IllGATKHC-CG-Ion-Solid_ALLCHROM_v3.2.2_highconf.bed.gz"
    sage_pon                        = "${params.pipelines_testdata_base_path}reference/GRCh37/hmfdata/SageGermlinePon.1000x.37.tsv.gz"
    hmf_ensembl_data                = "${params.pipelines_testdata_base_path}reference/GRCh37/hmfdata/ensembl_data/ensembl_gene_data.csv"
    ensembl_vep_cache               = "${params.pipelines_testdata_base_path}reference/GRCh37/vep/homo_sapiens/115_GRCh37/info.txt"
    curation_ann                    = "${params.pipelines_testdata_base_path}reference/GRCh37/annotations/cancer_gene_annotations_for_curation.37.v2.csv"
    gridss_index                    = "${params.pipelines_testdata_base_path}reference/GRCh37/gridss_index/human_g1k_v37_decoy.fasta.amb"
    gridss_config                   = "${params.pipelines_testdata_base_path}reference/GRCh37/gridss/gridss.properties"
    gridss_pon_breakends            = "${params.pipelines_testdata_base_path}reference/GRCh37/gridss/sgl_pon.37.bed.gz"
    gridss_pon_breakpoints          = "${params.pipelines_testdata_base_path}reference/GRCh37/gridss/sv_pon.37.bedpe.gz"
    gridss_known_fusions            = "${params.pipelines_testdata_base_path}reference/GRCh37/gridss/known_fusions.37.bedpe"
    gridss_repeatmasker_annotations = "${params.pipelines_testdata_base_path}reference/GRCh37/gridss/repeat_mask_data.37.fa.gz"

    // Target panel files
    targets_bed                     = "${params.pipelines_testdata_base_path}reference/GRCh37/targets.bed"
    interval_list                   = "${params.pipelines_testdata_base_path}reference/GRCh37/targets.interval_list"
    jumble_ref                      = "${params.pipelines_testdata_base_path}reference/GRCh37/targets.bed.reference.RDS"
}
