/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/autoseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = params.pipelines_testdata_base_path + 'testdata/csv/samplesheet.csv'// Genome references
    genome            = 'GRCh37'

    igenomes_ignore   = true
    ref_genomes_base  = 'https://raw.githubusercontent.com/imsarath/test-data/refs/heads/main/reference'

    panel             = 'test_panel' // Target panel BED file
    panels {
        test_panel {
            targets_bed_slopped20           = "${params.ref_genomes_base}/GRCh37/targets.bed"
            targets_bed_slopped20_gz        = "${params.ref_genomes_base}/GRCh37/targets.bed"
            targets_interval_list           = "${params.ref_genomes_base}/GRCh37/targets.interval_list"
            targets_interval_list_slopped20 = "${params.ref_genomes_base}/GRCh37/targets.interval_list"
            jumble_ref                      = "${params.ref_genomes_base}/GRCh37/targets.bed.reference.RDS"
        }
    }

}
