process {
    withName: '.*ANNOTATE_GERMLINE_TAF:GATK4_HAPLOTYPECALLER' {
        // GenotypeGVCFs only accepts a GVCF
        ext.args   = { "-ERC GVCF" }
        ext.prefix = { "${meta.sample_name}_haplotypecaller.g" }
    }

    withName: '.*ANNOTATE_GERMLINE_TAF:GATK4_GENOTYPEGVCFS' {
        ext.prefix = { "${meta.sample_name}_genotypegvcfs" }
    }

    withName: '.*ANNOTATE_GERMLINE_TAF:BCFTOOLS_MERGE' {
        // `--write-index=tbi` is required, otherwise BCFTOOLS_MERGE.out.index is empty
        ext.args   = { "--output-type z --write-index=tbi" }
        ext.prefix = { "${meta.sample_name}-all.germline.taf" }
    }
}
