process {
    withName: '.*CALL_SOMATIC_SNVS:VT_NORMALIZE' {
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}_mutect2_filtered_normalized" }
    }

    withName: '.*CALL_SOMATIC_SNVS:INDEX_VCF' {
        ext.args = { "-p vcf" }
    }

    withName: '.*CALL_SOMATIC_SNVS:PASSFILTER_FOR_MUTECT2' {
        ext.args   = { " -i 'FILTER=\"PASS\"' --output-type z --write-index=tbi " }
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}_mutect2_pass_only" }
    }

    withName: '.*CALL_SOMATIC_SNVS:PASSFILTER_FOR_SAGE' {
        ext.args   = { " -i 'FILTER=\"PASS\"' --output-type z --write-index=tbi " }
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}_sage_pass_only" }
    }

    withName: '.*CALL_SOMATIC_SNVS:SOMATIC_VCFMERGE' {
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}" }
    }

    withName: '.*CALL_SOMATIC_SNVS:ANNOTATE_VEP' {
        ext.args = { "--vcf --pick --check_existing --total_length --allele_number --no_escape --no_stats --everything --offline" }
        ext.args2 = { "-p vcf" }
        ext.prefix = { "${meta.tumor_id}_${meta.normal_id}-all.somatic.vep" }
    }
}
